body {
    background: url("/images/welcomepage.jpg") no-repeat;
    background-size: cover;
    margin: 0;
}
header {
    height: 70px;
    border-radius: 5px;
    background-color: #628451;
    padding-top: auto;
    padding-bottom: auto;
    box-shadow: 0 5px 10px #343434;
}
h1 {
    font-family: "Comic Sans MS", "Arial Black", "serif";
    font-size: 50px;
    color: bisque;
    text-align: center;
}
h2 {
    font-family: "Comic Sans MS", "Arial Black", "serif";
    font-size: 30px;
    color: bisque;
    text-align: center;
}
main {
    min-height: 80%;
    margin-bottom: 20px;
}
.note {

    padding-left: 20px;
    padding-top: 45px;
}
.info {
    background-color: #628451;
    display: inline-block;
    width: 60%;
    float: right;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-right: 250px;
    margin-top: 20px;
    box-shadow: 0 5px 10px #343434;
    height: 535px;
}
.pic {
    display: inline-block;
    float: left;
    width: 20%;
    border-radius: 5px;
    background: url("/images/dictionary.png") no-repeat;
    background-size: cover;
    height: 153px;
    margin-top: 20px;
    margin-left: 20px;
}
.about-myself {
    display: inline-block;
    position: absolute;
    left: 750px;
    top: 250px;
    width: 400px;
    min-height: 400px;
    padding-left: 5px;
    background: url("/images/sticker.png") no-repeat;
    background-size: cover;
}
.button {
    padding: 10px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    border-radius: 10px;
    font-family: "Comic Sans MS", "Arial Black", "serif";
    color: bisque;
    background-color: brown;
    box-shadow: 0 5px 10px #343434;
    border: 1px solid rosybrown;
}
#save {
    margin-left: 30%;
}
#edit-form {
    width: 400px;
    border-radius: 10px;
    background-color: #628451;
    padding: 0 20px 0 20px;
    margin-left: 279px;
    font-family: "Comic Sans MS", "Arial Black", "serif";
    font-size: 20px;
    color: bisque;
}
input:not(.button), #ed-form-input {
    width: 100%;
    padding: 5px;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rosybrown;
    background-color: bisque;
    box-shadow: 0 2px 5px #404040;
}
.half-width {
    display: inline-block;
    width: 48%;
}
#ed-form-input {
    margin-right: 5px;
}
#graduation-year {
    margin-left: 11px;
}