body {
    background: url("/images/profile.jpg") no-repeat;
    background-size: cover;
    margin: 0;
}
header {
    height: 70px;
    border-radius: 5px;
    background-color: #196d53;
    padding-top: auto;
    padding-bottom: auto;
}
h1 {
    font-family: "Comic Sans MS", "Arial Black", "serif";
    font-size: 50px;
    color: bisque;
    text-align: center;
}
h2 {
    font-family: "Comic Sans MS", "Arial Black", "serif";
    font-size: 30px;
    color: #196d53;
    text-align: center;
}
.half-width {
    display: inline-block;
    width: 48%;
}
#graduation-year {
    margin-left: 19px;
}
#education-form {
    margin-right: 5px;
}
.info {
    background-color: bisque;
    border: 1px solid rosybrown;
    display: inline-block;
    width: 40%;
    float: right;
    padding: 0 20px 20px 20px;
    border-radius: 5px;
    margin-right: 200px;
    margin-top: 20px;
}
.pic {
    display: inline-block;
    float: left;
    width: 20%;
    margin-left: 270px;
    border-radius: 5px;
    background-color: bisque;
    border: 1px solid rosybrown;
    height: 200px;
    margin-top: 20px;
}
input:not(.button) {
    width: 100%;
    padding: 5px;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rosybrown;
    background-color: #cdffb2;
    box-shadow: 0 2px 5px #404040;
}
.button {
    padding: 10px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    border-radius: 10px;
    font-family: "Comic Sans MS", "Arial Black", "serif";
    color: bisque;
    background-color: #196d53;
    box-shadow: 0 5px 10px #343434;
    border: 1px solid rosybrown;
}
#save {
    margin-left: 30%;
}