body {
    background: url("/images/welcomepage.jpg") no-repeat;
    background-size: cover;
    margin: 0;
}
header {
    height: 70px;
    border-radius: 5px;
    background-color: #628451;
    padding-top: auto;
    padding-bottom: auto;
    box-shadow: 0 5px 10px #343434;
}
h1 {
    font-family: "Comic Sans MS", "Arial Black", "serif";
    font-size: 50px;
    color: bisque;
    text-align: center;
}
main {
    min-height: 80%;
    margin-bottom: 20px;
}
.info {
    background-color: #628451;
    display: inline-block;
    width: 60%;
    float: right;
    padding: 0 20px 20px 20px;
    border-radius: 10px;
    margin-right: 220px;
    margin-left: 10px;
    margin-top: 20px;
    box-shadow: 0 5px 10px #343434;
    height: 535px;
    font-family: "Comic Sans MS", "Arial Black", "serif";
    font-size: 20px;
    color: bisque;

}
.search-results {
    display: inline-block;
    width: 100%;
    height: 100px;
    background-color: bisque;
    border: 1px solid rosybrown;
    color: #628451;
    font-family: "Comic Sans MS", "Arial Black", "serif";
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
}
.search-data {
    display: inline-block;
    width: 50%;
    margin-right: 20px;
    margin-left: 10px;
    padding-left: 10px;
}
.button {
    padding: 10px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    border-radius: 10px;
    font-family: "Comic Sans MS", "Arial Black", "serif";
    color: bisque;
    background-color: brown;
    box-shadow: 0 5px 10px #343434;
    border: 1px solid rosybrown;
}
.add-button {
    padding: 10px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    border-radius: 10px;
    font-family: "Comic Sans MS", "Arial Black", "serif";
    color: bisque;
    background-color: brown;
    box-shadow: 0 5px 10px #343434;
    border: 1px solid rosybrown;
}
.search-block {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #628451;
    box-shadow: 0 5px 10px #343434;
    color: bisque;
    border-radius: 10px;
}
#search-form {
    width: 200px;
    border-radius: 10px;
    background-color: #628451;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Comic Sans MS", "Arial Black", "serif";
    font-size: 20px;
    color: bisque;
}
#exit {
    position: absolute;
    top: 10px;
    right: 20px;
    float: right;
}
#profile-button {
    position: absolute;
    top: 10px;
    left: 20px;
    float: left;
}
input:not(.button) {
    width: 100%;
    padding: 5px;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rosybrown;
    background-color: bisque;
    box-shadow: 0 2px 5px #404040;
}