body {
    background: url("/images/welcomepage.jpg") no-repeat;
    background-size: cover;
}

h1 {
    font-family: "Comic Sans MS", "Arial Black", "serif";
    font-size: 70px;
    color: bisque;
    text-align: center;
    margin-top: 140px;
}
.button {
    padding: 10px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    border-radius: 10px;
    font-family: "Comic Sans MS", "Arial Black", "serif";
    color: bisque;
    background-color: brown;
    box-shadow: 0 5px 10px #343434;
    border: 1px solid rosybrown;
}

.buttons {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.enter-button {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 200px;
    float: right;
}
.localization {
    position: absolute;
    left: 20px;
    bottom: 10px;
    float: bottom;
}
#translator {
    float: left;
}
#employer {
    float: right;
}
#enter {

}